* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: $pink;
}

header {
    background-color: $pink;
}

#section1 {
    background-color: $yellow;
}

#section2 {
    background-color: green;
}

#section3 {
    background-color: blue;
}

footer {
    background-color: grey;
}