* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: $pink;
}

header {
    background-color: $pink;
}

#section1 {
    background-color: $yellow;
}

#section3 {
    background-color: $yellow
}

/* footer {
    background-color: grey;
} */