footer {
    #top {
        text-align: center;
        background-image: url("../img/Bitmap.png");
        padding-bottom: 80px;

        p {
            color: white;
            padding-top: 80px;
        }

        h2 {
            margin-bottom: 20px;
            font-size: 36px;
        }

        a {
            color: $text-black;
            text-decoration: none;
            background-color: white;
            padding: 10px 45px;
            border-radius: 5px;
            border: 1px solid $text-black;
        }
    }

    #bottom {
        background-color: $pink;

        h2 {
            padding-top: 80px;
        }

        p {
            color: white;
            padding-bottom: 40px;
        }

        a {
            padding: 0;
            padding: 8px;
        }

        #first {
            padding-left: 15px;
        }

        #firstList {
            padding-top: 60px;
        }

        .list {
            padding-left: 15px;
            color: white;

            h4 {
                padding-bottom: 20px;
                padding-top: 40px;
                font-weight: 100;
            }

            ul {
                list-style-type: none;
                color: white;
                font-family: $font-dm;

                li {
                    padding: 10px 0px;
                    opacity: 50%;
                }
            }
        }
    }

    #last {
        margin-top: 40px;
        background-color: #a85756;
        color: white;
        opacity: 50%;
        text-align: center;
        font-family: $font-dm;
        padding: 30px 40px;
    }
}