footer {
    .footer__top {
        text-align: center;
        background-image: url("../img/footer2IMG.png");
        padding-bottom: 80px;
        /* max-height: 448px; */
        background-size: cover;
        background-position: center bottom;
        background-position: 50% 55%;
    }

    .footer__bottom {
        background-color: $pink;
    }

    .footer__lastsection {
        padding-top: 40px;
        background-color: $dark-red;
        color: white;
        text-align: center;
        font-family: $font-dm;
        padding: 30px 40px;
    }
}





// DESKTOP
@media screen and (min-width: 769px) {
    footer {
        .footer__top {
            padding-bottom: 10%;
        }

        .footer__bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-top: 60px;
            padding-bottom: 100px;
        }

        .footer__lastsection {
            margin-top: 0;
            background-color: $dark-red;
        }
    }
}