// Media query to define what menu looks like on Desktop
@media screen and (min-width: 769px) {
    header {
        display: flex;
        justify-content: space-evenly;
        min-height: 670px;

        .header__leftcontent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 75px;
            margin-left: 20px;
        }

        .header__rightcontent {
            display: inline;
            width: 40%;
            margin-left: 125px;
            margin-top: 20px;
        }
    }
}