// DESKTOP
@media screen and (min-width: 769px) {
    header {
        display: flex;
        justify-content: space-evenly;
        /* min-height: 670px; */

        .header__leftcontent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 75px;
            margin-left: 20px;
        }

        .header__rightcontent {
            display: inline;
            width: 40%;
            /* margin-left: 125px; */
            margin-left: 5%;
            margin-top: 20px;
        }

        .header__rightcontent:hover {
            transform: rotate(3deg);
            transition: 1.5s;
        }
    }
}