// Define what menu looks like on mobile
body {
    overflow-x: hidden;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        background-color: $pink;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
}

// Animations for the individual links in the menu to fade in
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

// Media query to define what menu looks like on Desktop
@media screen and (min-width: 769px) {
    body {
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 8vh;
            background-color: $pink;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}