#section3 {
    .section3__rightcontent {
        padding-top: 40px;
    }
}





// DESKTOP
@media screen and (min-width: 769px) {
    #section3 {
        display: flex;
        justify-content: space-around;
        padding-top: 60px;

        .section3__rightcontent {
            width: 650px;
        }
    }
}