#section1 {
    padding-bottom: 50px;
}





// DESKTOP
@media screen and (min-width: 769px) {
    #section1 {
        display: flex;
        justify-content: space-evenly;
        /* min-height: 650px; */

        .section1__leftcontent {
            display: inline;
            width: 30%;
            margin-top: 100px;
        }

        .section1__rightcontent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 25%;
        }
    }
}