#section2 {
    text-align: center;
    padding-bottom: 80px;

    p {
        color: $text-black;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #textRed {
        color: $red;
        padding-top: 65px;
    }

    h2 {
        color: $text-black;
    }

    .item {
        .lighttext {
            color: grey;
            margin-bottom: 40px;
        }

        h4 {
            color: $text-black;
            font-weight: 100;
        }

        .frame {
            border: 1px solid lightgray;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 40px;
            padding-top: 40px;
            border-radius: 5px;
            box-shadow: 2px 2px 2px lightgray;
            position: relative;
            margin-bottom: 40px;
            margin-top: 40px;

            img {
                
            }

            span {
                position: absolute;
                top: 0.5em;
                left: 0.5em;
                font-family: $font-alfa;
                color: lightgray;
                font-size: 22px;
            }
        }
    }

    a {
        color: white;
        text-decoration: none;
        background-color: $red;
        padding: 10px 25px;
        border-radius: 5px;
    }
}

// Media query to define what menu looks like on Desktop
@media screen and (min-width: 769px) {
    #section2 {
        p {
            width: 480px;
        }

        .items {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .item {
                width: 350px;

                p {
                    width: 350px
                }
            }
        }
    }
}