nav {
    .nav__button {
        display: none;
    }
}



#section1 {
    .section1__button {
        text-decoration: none;
        color: white;
        margin-left: $margin-left;
        background-color: $red;
        padding: 10px 45px 10px 45px;
        font-weight: 600;
        border-width: 3px;
        border-radius: 5px;
    }

    .section1__button:hover {
        background-color: $text-black;
        transition: 0.5s;
    }
}



#section2 {
    .section2__button {
        color: white;
        text-decoration: none;
        background-color: $red;
        padding: 10px 25px;
        border-radius: 5px;
    }

    .section2__button:hover {
        background-color: $text-black;
        transition: 0.5s;
    }
}



#section3 {
    .section3__button {
        margin-left: 15px;
        color: $red;
        text-decoration: none;
        background-color: $yellow;
        padding: 10px 25px;
        border-radius: 5px;
        border: 1px solid $red;
    }

    .section3__button:hover {
        background-color: $red;
        color: $yellow;
        transition: 0.5s;
    }
}



footer {
    .footer__top {
        .footer__top__button {
            color: $text-black;
            text-decoration: none;
            background-color: white;
            padding: 10px 45px;
            border-radius: 5px;
            border: 1px solid $text-black;
        }

        .footer__top__button:hover {
            background-color: $text-black;
            color: white;
            transition: 0.5s;
        }
    }
}





// DESKTOP
@media screen and (min-width: 769px) {
    nav {
        .nav__button {
            display: flex;
            color: white;
            text-decoration: none;
            border: 1px solid white;
            padding: 10px 40px;
            border-radius: 5px;
        }

        .nav__button:hover {
            background-color: #fff;
            color: $pink;
            transition: 0.5s;
        }
    }



    #section1 {
        .section1__rightcontent {
            .section1__button {
                width: 140px;
            }
        }
    }



    #section3 {
        padding-bottom: 60px;
    }
}
